<div id='search'>
  <form>
    <label class='question_label'>Title your gig</label>
    <input class='question_input' placeholder="Ex: Hosting a great entrepreneurship talk in Monterey!"></input>
    <label class='question_label'>Describe the speaker you are looking for</label>
    <textarea class='question_input' placeholder="I am looking for..." cols='58' rows='6'></textarea>
    <label class='question_label'>What expertise should your speaker have?</label>
    {{view "select" class='question_input' content=skills value=selectedSkill}}
    {{#if skillSelected}}
      <div id='speakers-matches'>
        <label class='question_label'>Potential speakers:</label>
        {{#each user in users}}
          <p>{{user.firstName}} {{user.lastName}}</p>
          <p>Rating: {{user.rating}}</p>
          <p>Skills {{#each skill in skills}}<button class='button small'>{{skill.name}}</button>{{/each}}</p>
        {{/each}}
      </div>
    {{/if}}
  </form>
</div>
