<div id='search'>
  <form>
    <label class='question_label'>Title your gig</label>
    <input class='question_input' placeholder="Ex: Hosting a great entrepreneurship talk in Monterey!"></input>
    <label class='question_label'>Describe the speaker you are looking for</label>
    <textarea class='question_input' placeholder="I am looking for..." cols='58' rows='6'></textarea>
    <label class='question_label'>What expertise should your speaker have?</label>
    {{view "select" class='question_input' content=skills value=selectedSkill}}
    {{#if skillSelected}}
      <div id='speaker-matches'>
        <h3>Invite speakers to your gig (they will not see who else is invited.)</h3>
        {{#each user in users}}
          <div {{bind-attr class=':speaker user.hbs_id'}}>
            <div class='add' {{action 'addSpeaker' this}}>
              <p>+</p>
            </div>
            <div class='left'>
              <img src='assets/images/empty_avatar.png' class='avatar' />
              <div class='name'>{{user.firstName}} {{user.lastName}}</div>
              <div class='rating'>{{{user.rating}}}</div>
              <div class='clear'></div>
            </div>
            <div class='right'>
              <div class='bio'>{{{user.bio}}}</div>
              <div class='skills'>{{{user.skills}}}</div>
              <div class='clear'></div>
            </div>
            <div class='clear'></div>
          </div>
        {{/each}}
      </div>
    {{/if}}
  </form>
</div>
